# Fall 2024 Data Science Track: Week 2 - Data Cleaning Exercise

## Packages, Packages, Packages!

Import *all* the things here! You need the standard stuff: `pandas` and `numpy`.

If you got more stuff you want to use, add them here too. üôÇ

In [1]:
# Import here.
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.0.3
1.25.2

## Introduction

With the packages out of the way, now you will be working with the following data sets:

* `food_coded.csv`: [Food choices](https://www.kaggle.com/datasets/borapajo/food-choices?select=food_coded.csv) from Kaggle
* `Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv`: [Ask A Manager Salary Survey 2021 (Responses)](https://docs.google.com/spreadsheets/d/1IPS5dBSGtwYVbjsfbaMCYIWnOuRmJcbequohNxCyGVw/view?&gid=1625408792) as *Tab Separated Values (.tsv)* from Google Docs

Each one poses different challenges. But you‚Äôll‚Äïof course‚Äïovercome them with what you learned in class! üòâ

## Food Choices Data Set

### Load the Data

In [5]:
# Load the Food choices data set into a variable (e.g., df_food).

food_data_set_path = 'data/food_coded.csv'

df_food = pd.read_csv(food_data_set_path)

### Explore the Data

How much data did you just load?

In [10]:
# Count by hand. (lol kidding)
df_food.size
df_food.shape

(125, 61)

What are the columns and their types in this data set?

In [9]:
# Show the column names and their types.
print(df_food.dtypes)

GPA                  object
Gender                int64
breakfast             int64
calories_chicken      int64
calories_day        float64
                     ...
type_sports          object
veggies_day           int64
vitamins              int64
waffle_calories       int64
weight               object
Length: 61, dtype: object

### Clean the Data

Perhaps we‚Äôd like to know more another day, but the team is really interested in just the relationship between calories (`calories_day`) and weight. ‚Ä¶and maybe gender.

Can you remove the other columns?

In [11]:
# Remove ‚Äòem.
df_food = df_food[['calories_day', 'weight','Gender']]

What about `NaN`s? How many are there?

In [12]:
# Count ‚Äòem.
df_food.isna().sum()

calories_day    19
weight           2
Gender           0
dtype: int64

We gotta remove those `NaN`s‚Äïthe entire row.

In [13]:
# Drop ‚Äòem.
df_food = df_food.dropna()
df_food.isna().sum()

calories_day    0
weight          0
Gender          0
dtype: int64

But what about the weird non-numeric values in the column obviously meant for numeric data?

Notice the data type of that column from when you got the types of all the columns?

If only we could convert the column to a numeric type and drop the rows with invalid values. ü§î

In [26]:
# Fix that.
# explore dataframe to see which column to fix and their data types
df_food.head(5)
df_food.dtypes

# convert weight column datatype to numeric
df_food['weight'] = pd.to_numeric(df_food['weight'], errors='coerce')

# check to see that the errors are changed to NaN
df_food.head(5)

# drop the NaN values
df_food = df_food.dropna()

# double check
df_food.head(5)
df_food.isna().sum()

calories_day    0
weight          0
Gender          0
dtype: int64

Now this data seems reasonably clean for our purposes! üòÅ

Let‚Äôs save it somewhere to be shipped off to another teammate. üíæ

In [27]:
# Savey save!
df_food.to_csv('df_food_cleaned.csv', index=False)

## Ask a Manager Salary Survey 2021 (Responses) Data Set

### Load the Data

In [30]:
# Load the Ask A Manager Salary Survey 2021 (Responses) data set into a variable (e.g., df_salary).

df_salary = pd.read_csv('data/Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv', sep='\t')

df_salary.head(5)

,Timestamp,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.",Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.)
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

Was that hard? üôÉ

#### rename the file to something that is better for all systems.  
* No spaces in filename (can use '_')
* all lower case

In [31]:
df_salary.to_csv('data/df_salary.csv', index=False)
df_salary = pd.read_csv('data/df_salary.csv')

### Explore

You know the drill.

How much data did you just load?

In [32]:
# Count by hand. I‚Äôm dead serious.

print(df_salary.shape)

(28062, 18)

What are the columns and their types?

In [33]:
# Show the column names and their types.
df_salary.dtypes

Timestamp                                                                                                                                                                                                                                object
How old are you?                                                                                                                                                                                                                         object
What industry do you work in?                                                                                                                                                                                                            object
Job title                                                                                                                                                                                                                                object
If your job title needs additional context, please clarify here:                                                                                                                                                                         object
What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)     object
How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                          float64
Please indicate the currency                                                                                                                                                                                                             object
If "Other," please indicate the currency here:                                                                                                                                                                                           object
If your income needs additional context, please provide it here:                                                                                                                                                                         object
What country do you work in?                                                                                                                                                                                                             object
If you're in the U.S., what state do you work in?                                                                                                                                                                                        object
What city do you work in?                                                                                                                                                                                                                object
How many years of professional work experience do you have overall?                                                                                                                                                                      object
How many years of professional work experience do you have in your field?                                                                                                                                                                object
What is your highest level of education completed?                                                                                                                                                                                       object
What is your gender?                                                                                                                                                                                                                     object
What is your race? (Choose all that apply.)                                                                                                                                                                                              object
dtype: object

Oh‚Ä¶ Ugh! Give these columns easier names to work with first. üôÑ

In [34]:
# Rename ‚Äòem.
# Non-binding suggestions: timestamp, age, industry, title, title_context, salary, additional_compensation, currency, other_currency, salary_context, country, state, city, total_yoe, field_yoe, highest_education_completed	gender, race

df_salary.columns = ['timestamp', 'age', 'industry', 'title', 'title_context', 'salary', 'additional_compensation', 'currency', 'other_currency', 'salary_context', 'country', 'state', 'city', 'total_yoe', 'field_yoe', 'highest_education_completed', 'gender', 'race']
df_salary.dtypes

timestamp                       object
age                             object
industry                        object
title                           object
title_context                   object
salary                          object
additional_compensation        float64
currency                        object
other_currency                  object
salary_context                  object
country                         object
state                           object
city                            object
total_yoe                       object
field_yoe                       object
highest_education_completed     object
gender                          object
race                            object
dtype: object

It‚Äôs a lot, and that should not have been easy. üòè

You‚Äôre going to have a gander at the computing/tech subset first because thats *your* industry. But first, what value corresponds to that `industry`?

In [37]:
# List the unique industries and a count of their instances.

df_salary.industry.value_counts()

industry
Computing or Tech                          4699
Education (Higher Education)               2464
Nonprofits                                 2419
Health care                                1896
Government and Public Administration       1889
                                           ...
Gaming (Gambling)                             1
Regulatory Affairs- nutraceuticals            1
Manufacturing : corporate admin support       1
Real Estate Investment Support                1
Wine & Spirits                                1
Name: count, Length: 1219, dtype: int64

That value among the top 5 is what you‚Äôre looking for innit? Filter out all the rows not in that industry and save it into a new dataframe.

In [38]:
# Filtery filter. (Save it to a new variable, df_salary_tech.)
df_salary_tech = df_salary[df_salary['industry'] == 'Computing or Tech']

Do a sanity check to make sure that the only values you kept are the one you are filtered for.

In [39]:
# Sanity Check 

df_salary_tech.industry.value_counts()

industry
Computing or Tech    4699
Name: count, dtype: int64

We are very interested in salary figures. But how many dollars üíµ is a euro üí∂ or a pound üí∑? That sounds like a problem for another day. ü´†

For now, let‚Äôs just look at U.S. dollars (`'USD'`).

In [40]:
# Filtery filter for just the jobs that pay in USD!

df_salary_tech_usd = df_salary_tech[df_salary_tech['currency'] == 'USD']

df_salary_tech_usd.head(5)

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race
8,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,"112,000",10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White
43,4/27/2021 11:04:04,25-34,Computing or Tech,Principal Software Engineer,NaN,"187,500",5000.0,USD,NaN,NaN,United States,Pennsylvania,Pittsburgh,8 - 10 years,5-7 years,College degree,Woman,White
44,4/27/2021 11:04:04,25-34,Computing or Tech,Intelligence Analyst,NaN,"110,000",20000.0,USD,NaN,"Around 20,000 a year in stock",USA,Virginia,"Arlington, VA",8 - 10 years,8 - 10 years,Master's degree,Man,White
46,4/27/2021 11:04:07,35-44,Computing or Tech,Mobile developer,NaN,"144,600",2500.0,USD,NaN,NaN,USA,Massachusetts,Boston,5-7 years,5-7 years,PhD,Woman,White
47,4/27/2021 11:04:09,35-44,Computing or Tech,Product Design Director,NaN,"200,850",40000.0,USD,NaN,NaN,USA,North Carolina,Chapel Hill,11 - 20 years,11 - 20 years,College degree,Woman,White

What we really want know is how each U.S. city pays in tech. What value in `country` represents the United States of America?

In [41]:
# We did filter for USD, so if we do a count of each unique country in descending count order, the relevant value(s) should show up at the top.

df_salary_tech_usd.country.value_counts()

country
United States               1576
USA                         1222
US                           412
U.S.                         108
United States of America      90
                            ...
Pakistan                       1
Puerto Rico                    1
America                        1
Uniyed states                  1
Burma                          1
Name: count, Length: 76, dtype: int64

### Clean the Data

Well, we can‚Äôt get our answers with what we currently have, so you‚Äôll have to make some changes.

Let‚Äôs not worry about anything below the first 5 values for now. Convert the top 5 to a single canonical value‚Äïsay, `'US'`, which is nice and short.

In [42]:
# Replace them all with 'US'.
df_salary_tech_usd['country'].replace({'United States': 'US',
                                       'USA': 'US',
                                       'U.S.': 'US',
                                       'United States of America': 'US'},inplace=True)

/var/folders/dl/ktg8bbcd101cjchx4mdxd4sc0000gn/T/ipykernel_75237/2126244996.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salary_tech_usd['country'].replace({'United States': 'US',

Have a look at the count of each unique country again now.

In [43]:
# Count again.
df_salary_tech_usd.country.value_counts()

country
US                3408
United States       68
Usa                 59
USA                 56
usa                 28
                  ...
Mexico               1
United Stateds       1
ISA                  1
singapore            1
Burma                1
Name: count, Length: 72, dtype: int64

Did you notice anything interesting?

In [ ]:
# BONUS CREDIT: resolve [most of] those anomalous cases too without exhaustively taking every variant literally into account.

In [ ]:

# BONUS CREDIT: if you‚Äôve resolved it, let‚Äôs see how well you did by counting the number of instances of each unique value.

It‚Äôs looking good so far. Let‚Äôs find out the minimum, mean, and maximum (in that order) salary by state, sorted by the mean in descending order.

In [44]:
# Find the minimum, mean, and maximum salary in USD by U.S. state.
df_salary_tech_usd.groupby('state')['salary'].agg(['min','mean','max']).sort_values(by='mean')

TypeError: Could not convert 75,00070,00072,00052,00029,120105,000120,00052000550009500035000035000 to numeric

Well, pooh! We forgot that `salary` isn‚Äôt numeric. Something wrong must be fixed.

In [48]:
# Fix it.
df_salary_tech_usd.dtypes # salary is an object

# convert salary to numeric
df_salary_tech_usd['salary'] = pd.to_numeric(df_salary_tech_usd['salary'], errors='coerce')

df_salary_tech_usd.dtypes # salary should now be numeric here

/var/folders/dl/ktg8bbcd101cjchx4mdxd4sc0000gn/T/ipykernel_75237/1061256107.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salary_tech_usd['salary'] = pd.to_numeric(df_salary_tech_usd['salary'], errors='coerce')

timestamp                       object
age                             object
industry                        object
title                           object
title_context                   object
salary                         float64
additional_compensation        float64
currency                        object
other_currency                  object
salary_context                  object
country                         object
state                           object
city                            object
total_yoe                       object
field_yoe                       object
highest_education_completed     object
gender                          object
race                            object
dtype: object

Let‚Äôs try that again.

In [49]:
# Try it again. Yeah!

df_salary_tech_usd.groupby('state')['salary'].agg(['min','mean','max']).sort_values(by='mean')

                     min          mean       max
state
South Carolina   40000.0  40000.000000   40000.0
Arkansas             4.0  58001.000000   95000.0
Nebraska         43000.0  76736.000000  140000.0
Missouri            80.0  80339.923077  200000.0
Louisiana        75000.0  80500.000000   84000.0
...                  ...           ...       ...
Mississippi          NaN           NaN       NaN
New York, Texas      NaN           NaN       NaN
North Dakota         NaN           NaN       NaN
South Dakota         NaN           NaN       NaN
Utah, Vermont        NaN           NaN       NaN

[66 rows x 3 columns]

That did the trick! Now let‚Äôs narrow this to data 2021 and 2022 just because (lel). *(Hint: that timestamp column may not be a temporal type right now.)*

In [52]:
# Filter the data to within 2021, 2022, or 2023, saving the DataFrame to a new variable, and generate the summary again.

#explore timestamp column
df_salary_tech_usd['timestamp']

# convert timestamp column to datetime format
df_salary_tech_usd['timestamp'] = pd.to_datetime(df_salary_tech_usd['timestamp'])

# check timestamp column again
df_salary_tech_usd['timestamp']

# filter and save DF to new variable
df_salary_tech_usd_Y21T23 = df_salary_tech_usd[df_salary_tech_usd['timestamp'].dt.year.isin([2021, 2022, 2023])]

# generate summary again
df_salary_tech_usd_Y21T23

/var/folders/dl/ktg8bbcd101cjchx4mdxd4sc0000gn/T/ipykernel_75237/2217185339.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salary_tech_usd['timestamp'] = pd.to_datetime(df_salary_tech_usd['timestamp'])

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race
8,2021-04-27 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,NaN,10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White
43,2021-04-27 11:04:04,25-34,Computing or Tech,Principal Software Engineer,NaN,NaN,5000.0,USD,NaN,NaN,US,Pennsylvania,Pittsburgh,8 - 10 years,5-7 years,College degree,Woman,White
44,2021-04-27 11:04:04,25-34,Computing or Tech,Intelligence Analyst,NaN,NaN,20000.0,USD,NaN,"Around 20,000 a year in stock",US,Virginia,"Arlington, VA",8 - 10 years,8 - 10 years,Master's degree,Man,White
46,2021-04-27 11:04:07,35-44,Computing or Tech,Mobile developer,NaN,NaN,2500.0,USD,NaN,NaN,US,Massachusetts,Boston,5-7 years,5-7 years,PhD,Woman,White
47,2021-04-27 11:04:09,35-44,Computing or Tech,Product Design Director,NaN,NaN,40000.0,USD,NaN,NaN,US,North Carolina,Chapel Hill,11 - 20 years,11 - 20 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27960,2023-05-09 17:57:30,45-54,Computing or Tech,Junior Data Analyst,NaN,65000.0,0.0,USD,NaN,NaN,US,Virginia,Richmond,21 - 30 years,1 year or less,College degree,Man,White
27961,2023-05-28 16:10:53,45-54,Computing or Tech,Data Analyst,NaN,65000.0,0.0,USD,NaN,NaN,US,New York,Bronx,21 - 30 years,8 - 10 years,College degree,Man,Black or African American
27971,2023-08-08 07:12:10,25-34,Computing or Tech,Data scientist,NaN,500.0,NaN,USD,NaN,NaN,Ghana,NaN,Accra,2 - 4 years,2 - 4 years,College degree,Man,Black or African American
27975,2023-09-08 12:35:45,18-24,Computing or Tech,intern,NaN,35000.0,0.0,USD,NaN,NaN,US,Texas,Dallas,1 year or less,1 year or less,Master's degree,Man,Asian or Asian American
27989,2023-10-26 08:17:05,18-24,Computing or Tech,Ibterb,NaN,456.0,NaN,USD,NaN,NaN,Nigeria,NaN,Lagos,2 - 4 years,2 - 4 years,College degree,Man,Another option not listed here or prefer not t...

## Bonus

Clearly, we do not have enough data to produce useful figures for the level of specificity you‚Äôve now reached. What do you notice about Delaware and West Virginia?

Let‚Äôs back out a bit and return to `df_salary` (which was the loaded data with renamed columns but *sans* filtering).

### Bonus #0

Apply the same steps as before to `df_salary`, but do not filter for any specific industry. Do perform the other data cleaning stuff, and get to a point where you can generate the minimum, mean, and maximum by state.

### Bonus #1

This time, format the table output nicely (*$12,345.00*) without modifying the values in the `DataFrame`. That is, `df_salary` should be identical before versus after running your code.

(*Hint: if you run into an error about `jinja2` perhaps you need to `pip install` something.*)

### Bonus #2

Filter out the non-single-states (e.g., `'California, Colorado'`) in the most elegant way possible (i.e., *not* by blacklisting all the bad values).

### Bonus #3

Show the quantiles instead of just minimum, mean, and maximum‚Äïsay 0%, 5%, 25%, 50%, 75%, 95%, and 100%. Outliers may be deceiving.

Sort by whatever interests you‚Äïlike say the *50th* percentile.

And throw in a count by state too. It would be interesting to know how many data points contribute to the figures for each state. (*Hint: your nice formatting from Bonus #1 might not work this time around.* üòú)